<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <!-- <add key="SAPServername" value="WAT@WATSON.TMICLOUD.NET:30013"/>
    <add key="SAPLicenseName" value="https://stefan.tmicloud.net:40000"/>
    <add key="SLDSERVER" value="https://newton.tmicloud.net:40000"/>
    <add key="SAPUsername" value="TMICLOUD\Chitra"/>
    <add key="SAPPassword" value="N%wt$n@19%6Nqw"/>
    <add key="database" value="OEC_TEST"/>
    <add key="SQLUserName" value="OECDBBR"/>
    <add key="SQLPassword" value="India@1947"/>
    <add key="HANA" value="TRUE"/>
    <add key="FieldCreation" value="Yes"/>
    <add key="ToWarehouse" value="'COP','COPQC'"/>
    <add key="TranTriggerFrom" value="20230814"/>-->
  <add key="SAPServername" value="GRA@Graham.tmicloud.net:30013"/>
    <add key="SAPLicenseName" value="https://stefan.tmicloud.net:40000"/>
    <add key="SLDSERVER" value="https://newton.tmicloud.net:40000"/>
    <add key="SAPUsername" value="TMICLOUD\Immuneel.user34"/>
    <add key="SAPPassword" value="India@1947"/>
    <add key="database" value="IMMUNEEL_NEWTEST"/>
    <add key="SQLUserName" value="IMMUNEELSA"/>
    <add key="SQLPassword" value="P@ss%Ry*hEw#M"/>
    <add key="HANA" value="TRUE"/>
    <add key="FieldCreation" value="No"/>
    <add key="ToWarehouse" value="'F &amp; O','R&amp;D'"/>
    <add key="TranTriggerFrom" value="20230817"/>
  </appSettings>
</configuration>